@using OnlineCheck
@using OnlineCheck.Web.Models
@model OnlineCheck.Web.Models.CtrlViewModel

@{
    ViewBag.Title = "设置当前阅卷的参数";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    div {
        margin: 10px;
    }
</style>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h2>设置当前阅卷的参数</h2>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.StudentCounts, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.StudentCounts, new { Value = 5 })
                @Html.ValidationMessageFor(model => model.StudentCounts)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.QuestionGroupCounts, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.QuestionGroupCounts, new { Value = 3 })
                @Html.ValidationMessageFor(model => model.QuestionGroupCounts)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TeacherCounts, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.TeacherCounts, new { Value = 4 })
                @Html.ValidationMessageFor(model => model.TeacherCounts)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.QuestionCounts, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.QuestionCounts, new { Value = 3 })
                @Html.ValidationMessageFor(model => model.QuestionCounts)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Threshold, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Threshold, new { Value = 5 })
                @Html.ValidationMessageFor(model => model.Threshold)
            </div>
        </div>


        <div class="form-group">
            @Html.LabelFor(model => model.JudgeMode, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("JudgeMode", SelectListItemHelper.FindByEnum<JudgeModes>(pleaseCheck: false, def: (Int32)JudgeModes.FourReview))
                @Html.ValidationMessageFor(model => model.JudgeMode)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

